---
import BaseHead from "../components/BaseHead.astro";
import Courses from "../components/Courses.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import RecentPosts from "../components/RecentPosts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import LandingImage from "../components/LandingImage.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="debug">
    <Header />
    <main>
      <LandingImage />
      <Courses />
      <Projects />
      <RecentPosts />
    </main>
    <Footer />
  </body>
</html>
