<section>
    <details>
        <summary>
            Courses
        </summary>

        <a
            href="https://laracasts.com/series/beginning-typescript"
            target="_blank"
        >
           	<img
        	   src="beginning-typescript.png"
          		alt="Beginning TypeScript. Laracasts Video Series"
           	/>
           	<figcaption aria-hidden="true">
        	   Beginning TypeScript. Laracasts Video Series
           	</figcaption>
    	</a>

    	<div><p>&nbsp;</p></div>

    	<a
            href="https://michaeltimbs.gumroad.com/l/BZPcgS"
            target="_blank"
        >
    		<img
    		  src="ecs.png"
    		  alt="AWS Elastic Container Service with CDK (outdated)"
    		/>
    		<figcaption aria-hidden="true">
    		  AWS Elastic Container Service with CDK (outdated)
    		</figcaption>
    	</a>
    </details>

</section>
<style>
figcaption {
    margin-top: 0;
}
</style>
