<section>
    <details>
        <summary>
            Active Projects
        </summary>

        <a href="https://brownlowtracker.com.au" target="_blank">
            <h2>Brownlow Tracker</h2>
        </a>
        <p>
            A small <a href="https://astro.build/" target="_blank">Astro</a> project using vanilla TypeScript and built entirely on the Cloudflare platform. This app let's AFL fans track the 'best on ground' award for Australian Rules Football.
        </p>

    	<a href="https://betswaps.com" target="_blank">
         <h2>Betswaps</h2>
        </a>
        <p>
            Betswaps is a sports and racing tipping platform that mimics the behaviour of a real sportsbook. All markets and odds are realtime and each player has a fake balance to play with. The platform displays your win/loss publically for all users to see and allows for discovery of the top sports bettors in the world.
        </p>

        <a href="https://github.com/mtimbs/Bifrost" target="_blank">
            <h2>Zig x86 dissasembler + simulator</h2>
        </a>
        <p>
            A simple x86 dissasembler + 8086 simulator in Zig. I am building this as I am following along with the course by C. Muratori at <a href="https://www.computerenhance.com" target="_blank">https://www.computerenhance.com</a>
        </p>

        <a href="https://github.com/mtimbs/odin-ml" target="_blank">
            <h2>ODIN ML</h2>
        </a>
        <p>
            Collection of AI/Machine Learning code written in the <a target="_blank"> Odin programming language</a>.
        </p>

        <a href="https://github.com/mtimbs/Bifrost" target="_blank">
            <h2>Bitfrost</h2>
        </a>
        <p>
            A HTTP/1.1 Server written from scratch in the <a target="_blank"> Odin programming language</a>
        </p>
    </details>

</section>
<style>
figcaption {
    margin-top: 0;
}
</style>
